/config.inc.php
./build
temp
/files
/plugins/paymethod/paypal/vendor/
.htaccess
.project
.buildpath
.settings
.DS_Store
node_modules
js/build.js
styles/build.css
error_log
_Trash
plugins/themes/bootstrap3
package-lock.json
plugins/generic/citationStyleLanguage
lib/pkp
